body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 1200px;
  }
  
  header, footer {
    background-color:#2b3035;
    color:#2b3035;
    text-align: center;
    padding: 10px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .custom-header {
    background-color: #2b3035    ;
    color: #2b3035;
    text-align: center;
    padding: 10px;
  }

  a {
    text-decoration: none; 
    color: #333;
  }

  .Company_Name:hover {
    color: #ffffff;
  }

  
  
  .collapse.navbar-collapse ul.navbar-nav {
    text-align: center; 
  }
  
  .collapse.navbar-collapse .nav-item {
    padding: 8px 0 !important; 
  }
  
  .collapse.navbar-collapse .nav-link {
    color: #fff !important; /
  }
  

  .collapse.navbar-collapse .nav-link:hover {
    background-color: #555;
    border-radius: 3px;
    color: #ffcc00 !important; 
  }

  .navbar {
    background-color: #333 !important; 
  }
  

  .navbar-nav .nav-link {
    color: #fff !important; 
    padding: 10px 20px !important; 
  }

  .navbar-nav .nav-link:hover {
    color: #ffcc00 !important;
  }
  

  * {box-sizing:border-box}


  .slideshow-container {
    padding-top: 10px;
    max-width: 95%;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  

  .mySlides:first-child {
    display: block;
  }
  

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  

  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }
  
  .search-container input[type="text"] {
    padding: 10px;
    width: 70%; 
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
  }
  
  .search-container button {
    padding: 10px;
    background-color: #ccc; 
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }

  .Events_For_You {
    font-size: large;
    padding-top: 10px;
    text-align: center; 
  }

  .image-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0; 
    margin: 0 40px; 
  }

  .image-column {
    flex: 1; 
    text-align: center;
    padding: 0 40px;
  }

  .image-column img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }

  .Events_For_You {
    border-top: 1px solid grey; 
    margin-top: 20px; 
    padding-top: 5px; 
    width: 100%;
}


.Create_Event_TitleBox {
  font-size: large;
  text-align: center; 
  padding-bottom: 40px ;
  padding-top: 20px;
}

.Create_Event_Line {
  border-top: 1px solid grey; 
  padding-top:10px ;
  width: 60%;
  margin-top: 20px;
}
.Create_Event_Container {
  margin-left: 10%;
  margin-right: 10%;
}


input.form-control {
  width: 90%;
  padding: 10px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px; 
  margin-bottom: 10px;
  margin-right:80px;
  text-align: center;
}



button.btn-primary {
  align-items: center;
  width: 130px; 
  padding: 10px;
  font-size: 16; 
  background-color: #007bff; 
  border: none; 
  color: #fff; 
  border-radius: 4px; 
  margin-bottom: 20px;
}


button.btn-primary:hover {
  background-color: #0056b3; 
  cursor: pointer; 
}

.TitleFeature1 {
  margin-left: 100px;
  padding-top: 10px ;
  align-items: right;
  height: 100%; 
}

.Imageless_Event_Container {
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 60px;
}

.Chosen_Event_Ticketing h1 {
  text-align: center; 
  width: 60%; 
  margin: 0 auto; 
  border-bottom: 1px solid #ccc; 
  padding-bottom: 10px; 
  margin-bottom: 20px; 
}

.Upload_Event_Container {
  margin-top: 10px;
  width: 90%; 
  margin: 0 auto; 
}

.Upload_Event_Container .col-md-12 {
  margin-top: 10px;
  margin-left: 40%;
  margin-right: 40%;
  width: 100%; 
  margin: 0 auto; 
}

#Event_Image {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 60px 20px 60px 20px;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
  cursor: pointer;
}

#Event_Image::before {
  content: "Upload an Image";
  display: block;
  font-size: 20px;
  color: #888;
  margin-bottom: 10px;
}

select.form-control {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}


.Image-Row-Events {
  margin-left: 50px;
  margin-right: 50px;
}
.Image-Row-Events img {
  width: 100%;
  max-width: 100%; 
  height: auto;
  border-radius: 5px;
}

.Image-Row-Events .col-md-3 {
  padding: 20px 25px 20px 25px;
  margin-top: 10px;
}

.event-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.event-card:hover {
  transform: translateY(-5px);
}

.event-card img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.event-title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.event-description {
  margin-bottom: 5px;
  font-weight: lighter
}

.event-info p {
  margin-bottom: 5px;
  font-weight: lighter
}

.Events_4U h1 {
  padding-top: 10px; 
  text-align: center; 
  width: 60%; 
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px; 
  margin-bottom: 20px; 
}

.Events_4U1 h1 {
  padding-top: 10px; 
  text-align: center; 
  width: 60%; 
  margin: 0 auto; 
  border-bottom: 1px solid #ccc; 
  padding-bottom: 10px; 
  margin-bottom: 20px; 
}

.image-row {
  margin-left: 50px;
  margin-right: 50px;
}

.image-row img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.image-row .col-md-4 {
  padding: 20px 25px;
}

.event-card-HOME {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.event-card-HOME:hover {
  transform: translateY(-5px);
}

.event-card-HOME img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.event-title-HOME {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  color: black;
}

.event-description-HOME {
  margin-bottom: 5px;
  font-weight: lighter;
  color: #555;
}

.event-info-HOME p {
  margin-bottom: 5px;
  font-weight: lighter;
}

.event-date-HOME {
  color: red;
  font-weight: bold;
  font-style: italic; 
}


.Past-Image-Container {
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 3%;
}

.Past-Image-Container .row {
  margin-top: 20px;
  margin-bottom: 20px; 
}

.Past-Image-Container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.Chosen_Event_Image_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.Chosen_Event_Image_Container img {
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 10px;
  padding-top: 5px;
  border-radius: 10px;
  width: 40%;
  height: auto;
}


.Chosen_Event_Card {
  font-weight: lighter;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 5px;
  margin-top: -25px;
  text-align: center;
  transition: transform 0.2s;
}

.Chosen_Event_Card:hover {
  transform: translateY(-5px);
}

.Chosen_Event_Card img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.Chosen_Event_Card .row {
  padding-top: 1%;
}

.status-box {
  background-color: #4CAF50; 
  color: white;
  padding: 8px 16px; 
  border-radius: 4px; 
  display: inline-block; 
  font-weight: bold; 
}

.Chosen_Event_Description {
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 30%;
  margin-right: 30%;
}

.Chosen_Event_Location {
  padding-top: 10px;
  margin-left: 19%;
  margin-right: 35%;
  padding-bottom: 10px;
}

.Chosen_Event_Location img {
  padding-top: 25%;
  padding-bottom: 5%;
  margin-right: 10%;
  width: 60px;
  height: auto;
}

.Chosen_Event_Location .col-md-11 h1 {
  margin-left: 8%;
  font-size: 20px;
  align-items: left;
  font-weight: bold;
}

.Chosen_Event_Location .col-md-11 p {
  margin-left: 8%;
  align-items: left;
}

.Chosen_Event_Sport {
  padding-top: 10px;
  margin-left: 19%;
  margin-right: 35%;
  padding-bottom: 10px;
}

.Chosen_Event_Sport img {
  padding-top: 25%;
  padding-bottom: 5%;
  margin-right: 10%;
  width: 55px;
  height: auto;
}

.Chosen_Event_Sport .col-md-11 h1 {
  margin-left: 8%;
  font-size: 20px;
  align-items: left;
  font-weight: bold;
}

.Chosen_Event_Sport .col-md-11 p {
  margin-left: 8%;
  align-items: left;
}

.Comments_Box {
  margin-left: 22%;
  margin-right: 22%;
  border: 1px solid #ddd;
  border-radius: 5px; 
  padding: 15px;
  margin-bottom: 20px;
}

.Comments_Box .col-md-9 {
  margin-top: 30px;
}

.profile-image {
  display: flex;
  max-width: 100px;
  border-radius: 50%;
  padding-bottom: 10px;
}


.Write_Comment {
  margin-left: 25%;
  margin-right: 35%;
}

input.form-control {
  margin-bottom: 10px;
  width: 100%;
}

button.btn-primary {
  margin-right: 40%;
}

.Ticketing_Form {
  align-items: center;
  margin-top: 20px;
}

.Ticketing_Form .non-button{
  margin-left: 35%;
  margin-right: 15%;
}

.Ticketing_Form .button {
  margin-left: 27.5%;
  margin-right: 27.5%;
}

.Ticketing_Form .Seating_Type {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.Ticketing_Form .price {
  font-size: 12px;
  font-weight: lighter;
  color: #888;
  margin-right: 80px;
}

.Ticketing_Form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.Ticketing_Form input[type="number"] {
  margin-left: 10%;
  margin-right: 10%;
  width: 40%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 10px;
}



.Ticketing_Form .btn.btn-primary {
  margin-left: 40%;
  margin-right: 45%;
  margin-top: 30px;
  align-self: center;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}



.event-card-HOME a {
  text-decoration: none; 
  color: #333; 
}

.event-card a {
  text-decoration: none;
  color: #333; 
}

.Past-Image-Container a {
  text-decoration: none; 
  color: #333; 
  margin-bottom: 10%;
}

.status-box-active {
  align-items: center;
  justify-content: center;
  height: 30px;
  width:80px;
  background-color: lightgreen; 
  color: white;
  border-radius: 4px; 
  font-size: 16px;
  font-weight: bold; 
  margin: 10px; 
  margin-left: 40%;
  margin-right: 40%;
  text-align: center; 
  padding-top: 5px;
  padding-bottom: 10px;
}

.status-box-Inactive {
  align-items: center;
  justify-content: center;
  height: 30px; 
  width:90px;
  background-color: orange; 
  color: white;
  border-radius: 4px;
  font-size: 16px; 
  font-weight: bold; 
  margin: 10px; 
  margin-left: 40%;
  margin-right: 40%;
  text-align: center; 
  padding-top: 5px;
  padding-bottom: 10px;
}


.status-box-Soldout {
  align-items: center;
  justify-content: center;
  height: 30px;
  width:80px;
  background-color: black; 
  color: white;
  border-radius: 4px;
  font-size: 16px; 
  font-weight: bold;
  margin: 10px; 
  margin-left: 40%;
  margin-right: 40%;
  text-align: center; 
  padding-top: 5px;
  padding-bottom: 10px;
}


.status-box-Cancelled {
  align-items: center;
  justify-content: center;
  height: 30px; 
  width:80px;
  background-color: red; 
  color: white;
  border-radius: 4px; 
  font-size: 16px; 
  font-weight: bold; 
  margin: 10px;
  margin-left: 40%;
  margin-right: 40%;
  text-align: center; 
  padding-top: 5px;
  padding-bottom: 10px;
}

.logo {
  width: 90px; 
  padding-bottom: 10px;
}

.footer {
  background-color: #212529;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.footer-text {
  font-size: 14px;
  margin-bottom: 10px;
  color:white;
}

.footer-logo {
  width: 50px; 
  height: 50px; 
  margin-top: 10px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.Create_Event_Container .col-md-4{
  padding-right: 50px;
  align-self: center;
}
.Create_Event_Button {
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  align-items: center;
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Special_Button a {
  text-decoration: none; 
  color: #333; 
}

.Create_Event_Button:hover {
  background-color: #e0b300;
}



.ticket-section {
  align-items: center; 
  padding: 10px; 
  border-radius: 5px;
}

.status-box-Inactive1 {
  margin-left: 35%;
  margin-right: 35% ;
  align-items: center;
  justify-content: center;
  height: 30px; 
  width:80px;
  background-color: orange; 
  color: white;
  border-radius: 4px;
  font-size: 16px; 
  font-weight: bold; 
  text-align: center; 
  padding-top: 5px;
  padding-bottom: 10px;
}

.Event-Ticketing {
  border-top: 0.5px solid #333;
  border-bottom: 0.5px solid #333;
  margin-bottom: 10px; 
  background-color: white;
}

.event-date-HOME-TIX {
  font-weight: bold;
  font-size: 18px;
  color: black;
  margin: 0; 
  padding: 5px 0;
}